@import url('https://fonts.google.com/specimen/Lexend+Deca');
@import url('https://fonts.google.com/specimen/Big+Shoulders+Display');
main {
    background-color: white;
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1440px;
    height: 500px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    padding: 2em;
}

.sedans  h3{
    font-family: 'Big Shoulders Display', sans-serif;
    color:hsla(0, 0%, 100%, 0.75);
    font-weight: 700px;
    font-size: 15px;
}

.sedans p{
    font-family: 'Lexend Deca';
    font-weight: 400px;
    font-size: 9px;
    color:  hsla(0, 0%, 100%, 0.75);
}

.sedans button {
    background-color: hsl(31, 77%, 52%); 
    border-radius: 12px;
    color: white;
    border: 2px solid white;
}

.suvs {
    background-color : hsl(184, 100%, 22%);
    padding: 2em;
}

.suvs h3 {
    font-family: 'Big Shoulders Display', sans-serif;
    color:hsla(0, 0%, 100%, 0.75);
    font-weight: 700px;
    font-size: 15px;
}

.suvs p{
    font-family: 'Lexend Deca';
    font-weight: 400px;
    font-size: 9px;
    color:  hsla(0, 0%, 100%, 0.75); 
}

.suvs button {
    background-color: hsl(184, 100%, 22%);
    border-radius: 12px;
    color: white;
    border: 2px solid white;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 2em;
}

.luxury h3 {
    font-family: 'Big Shoulders Display', sans-serif;
    color:hsla(0, 0%, 100%, 0.75);
    font-weight: 700px;
    font-size: 15px; 
}

.luxury p{
    font-family: 'Lexend Deca';
    font-weight: 400px;
    font-size: 9px;
    color:  hsla(0, 0%, 100%, 0.75); 
}

.luxury button{
    background-color: hsl(179, 100%, 13%);
    border-radius: 12px;
    color: white;
    border: 2px solid white;
}
